/* GENERAL */
* {
    margin: 0;
    padding: 0;
    display: block;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

title {
    display: none;
}

/* HEADER */
header {
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background: rgb(65, 221, 149);
    background: linear-gradient(90deg, rgba(65, 221, 149, 1) 3%, rgba(27, 145, 90, 1) 18%, rgba(0, 212, 255, 1) 100%);



}

header * {
    float: none;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
}

#logoGame {
    width: 3rem;
    fill: #000000;
    grid-column: 1/4;
    grid-row: 1;
}

#themeMap {
    grid-column: 2/4;
    grid-row: 1;

}

#gameMode {
    grid-column: 3/4;
    grid-row: 1;
}

#buttonFullScreen {
    grid-column: 4/4;
    grid-row: 1;
    margin-right: auto;
}


/* CONTENT */
#mapSection {
    margin: 0 auto;
    width: 100%;
    height: 80%;
    background-color: green;
   
}

#mapSection *{
    align-self: center;
    border-style: double double double double;
}

/* FOOTER */
footer {
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: left;
    flex-direction: row;
    background: rgb(136, 32, 159);
    background: linear-gradient(90deg, rgba(136, 32, 159, 1) 0%, rgba(243, 0, 255, 1) 66%, rgba(103, 9, 121, 1) 100%);
    align-items: center;
}

header * {
    margin-left: 10px;
    margin-right: 10px;
}