@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ======================== GENERAL ======================== */
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

html { 
    background: url(../images/background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

title {
    display: none;
}

h1 {
    font: roboto;
    font-size: 3rem;
}



/* ======================== HEADER ======================== */

header {
    width: 100vw;
    height: 8vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1.5rem;
    font-family: roboto;
    font-weight: 700;

    color: #DDD;
    fill: #DDD;

    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
}

header svg {
    width: 6vh;
    height: 6vh;
    margin: 1vh;
    transform: rotate(90deg);
}

.score {
    min-width: 30vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.score p {
    margin-left: 10px;
    margin-right: 10px;
}



/* ======================== GAME DIV ======================== */

#mapSection {
    width: 100vw;
    height: 92vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* ======================== MENU ======================== */

#dialogMenu {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    top: 16vh;
    left: 20vw;

    height: 50vh;
    width: 50vw;
    background-color: white;

    border-radius: 4vh;
    padding: 5vh 5vw;

    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#dialogMenu div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dialogMenu span {
    font: roboto;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px;
}

#dialogMenu button, #dialogMenu select{
    font: roboto;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 3px 15px;
    border-radius: 200px;
    min-width: 25vw;
    text-align: center;
    border: solid 2px black;
    background-color: transparent;
}

.mask {
    display: none;
}

canvas {
    background: rgba( 255, 255, 255, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}